body {
    height: 100vh;
    background-color: black;
}

.container > .row {
    text-align: center;
}

#typed {
    color: white;
    font-size: 4rem;
    float:left;
    margin-left: 10rem;

}

.container {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
}

#login {
    margin: 2rem 0rem 0rem;
}

p {
    margin-top: -15px;
    margin-bottom: -15PX;
}

pre {
    font-family: cursive;
    border-left: 2px;
    text-align: left;
}

form {
    padding: 2rem 0rem;
    width: 250px;
    margin-left: 10rem;
}
#rule{
    opacity: 1;
}
