body{
    margin: 0px;
    padding: 0px;
    height: 100vh;

    background-color:black;
}
.container>.row{
    text-align: center;
}
#typed{
    color: white;
    font-size: 4rem;

}
.container{
    position: absolute;
    top: 10%;
    right: 0;
     left: 0;
}
#login{
  padding: 50px;
}
p{
  margin-top:-15px;
  margin-bottom: -15PX;
}
pre{
  opacity: 0.4;
  font-family: cursive;
  border-left: 2px;
}
form{
  height: 250px;
  width: 250px;
}
